/* compiled by scssphp v0.3.3 on Wed, 11 Jan 2017 02:32:06 +0100 (0.0263s) */

/* line 1, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
.header-mobi {
  position: absolute;
  right: 40px;
  top: 80px;
  z-index: 100;
}
/* line 6, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
.header-mobi i {
  color: white;
}
@media (min-width: 993px) {
  /* line 12, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .header-mobi {
    display: none;
  }
}
@media (max-width: 992px) {
  /* line 18, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  body {
    background: #e0e0e0;
  }
  /* line 21, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .home-catalog {
    position: static;
    padding: 30px 0;
  }
  /* line 24, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .home-catalog .home-gallery {
    background: white;
  }
  /* line 28, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .header {
    padding: 10px 0;
    position: static !important;
  }
}
@media (max-width: 600px) {
  /* line 35, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  h1 {
    font-size: 26px !important;
  }
  /* line 38, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  h2 {
    font-size: 20px !important;
  }
  /* line 41, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 42, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .footer .fright {
    text-align: center;
  }
  /* line 46, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 47, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 48, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .news-catalog .list-news .item {
    border-bottom: solid 1px #bdbdbd;
  }
  /* line 51, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .news-catalog .list-news .img {
    padding: 15px !important;
  }
  /* line 56, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 57, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 58, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .product-catalog .list-product .item {
    border-bottom: solid 1px #bdbdbd;
  }
  /* line 63, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 64, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .cart .btn {
    font-size: 12px;
    padding: 5px;
  }
  /* line 68, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .cart #tablecart {
    font-size: 12px;
  }
  /* line 70, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 71, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 72, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .cart #tablecart thead tr td:nth-child(1), .cart #tablecart tbody tr td:nth-child(1), .cart #tablecart thead tr td:nth-child(3), .cart #tablecart tbody tr td:nth-child(3), .cart #tablecart thead tr td:nth-child(4), .cart #tablecart tbody tr td:nth-child(4), .cart #tablecart thead tr th:nth-child(1), .cart #tablecart tbody tr th:nth-child(1), .cart #tablecart thead tr th:nth-child(3), .cart #tablecart tbody tr th:nth-child(3), .cart #tablecart thead tr th:nth-child(4), .cart #tablecart tbody tr th:nth-child(4) {
    display: none;
  }
  /* line 79, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  /* line 80, D:/xampp/htdocs/workshop.com/public/frontend/sass\responsive.scss */
  .book table {
    font-size: 12px;
  }
}
